@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
}

html {
  height: 100%;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

img {
  display: block;
}

/* header*/
.page-header {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 64px;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;

}

.navigation-logo {
  position: relative;
  top: -1px;
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -7px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 16px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.navigation-link-active {
  text-decoration: underline;
  text-decoration-color: rgba(117, 98, 87, 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-link:hover {
  color: rgba(104, 162, 202, 1);
}

.navigation-link:active {
  color: rgba(104, 162, 202, 0.5);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-user-link {
  min-width: 44px;
  padding: 22px 12px;
}

.navigation-icon {
  fill: rgba(0, 0, 0, 1);
}

.navigation-icon:hover {
  fill: rgba(104, 162, 202, 1);
}

.navigation-icon:active {
  fill: rgba(104, 162, 202, 0.5);
}

.navigation-user-like {
  position: relative;
}

.like {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 19px;
  padding: 2px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.navigation-user .navigation-item:last-child {
  margin: 20px 0 0 20px;
}

.navigation-button {
  padding: 8px 34px;
  margin-left: 20px;
}

.navigation-button:hover {
  background: rgba(97, 80, 72, 1);
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}

/*hero*/
.page-title {
  margin: 0;
  padding: 0;
}

 .main-hero {
  margin-top: 2px;
  background-color: rgba(117, 97, 87, 1);
  background-image: url("../images/corners.svg"), url("../images/hero-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-welcome {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 80px;
}

.hero-welcome img {
  margin: 0 auto;
}

/*advantages*/
.advantages-block-title {
  margin-bottom: 21px;
  padding: 69px 0;
}

.advantages-page-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 62px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  max-width: 175px;
}

.advantages-title::after {
  content: "";
  position:absolute;
  left: 50%;
  top: 82px;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
}

.advantages-title-second::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

.advantages-item-object {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 100%;
}

.advantages-item-object-reverse {
  flex-direction: row-reverse;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding-top: 112px;
}

.advantages-item-second-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-second-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  width: 400px;
  padding: 102px 85px;
}

.advantages-img {
  margin: 0;
}

/*recommendations*/
.recommendations-page-title {
  padding-top: 64px;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.recommendations-page-subtitle {
  padding-bottom: 64px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 385px;
}

.recommendations-item {
  width: 400px;
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.recommendations-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/housing.svg");
}

.recommendations-item-food {
  background-image: url("../images/food.svg");
}

.recommendations-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/souvenir.svg");
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 183px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.recommendations-description {
  margin: 0;
  padding: 0 85px 81px;
}

/*search*/
.search-title {
  padding-top: 96px;
  margin-bottom: 20px;
}

.search-subtitle {
  margin-bottom: 54px;
}

.search-link {
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  margin-bottom: 96px;
  width: 376px;
  background-color: rgba(117, 97, 87, 1);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.search-link:hover {
  background: rgba(97, 80, 72, 1);
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}

/*subscribe*/
.subscribe {
  text-align: center;
  background-color: rgba(117, 97, 87, 1);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  color: rgba(255, 255, 255, 1);
}

.subscribe-title {
  padding-top: 96px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
}

.subscribe-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  border: 0;
  border-radius: 5px 0 0 5px;
  background: rgba(242, 242, 242, 1);
}

.subscribe-button {
  display: block;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 54px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(131, 179, 211, 1);
  border-radius: 0 5px 5px 0;
}

.subscribe-button:hover {
  background: rgba(104, 162, 202, 1);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/*footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  padding: 46px 70px 30px;
}

.contact {
  width: 720px;
  text-align: center;
}

.contact a:hover {
  color: rgba(117, 97, 87, 1);
}

.contact a:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact a {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
}

/* social */
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  fill: rgba(131, 179, 211, 1);
}

.social-link:hover svg {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link:hover .logo-htmlacademy {
  fill: rgba(117, 97, 87, 1);
}

.htmlacademy-link:active .logo-htmlacademy {
  fill: rgba(117, 97, 87, 0.3);
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
  z-index: 3;
}

.open-modal {
  display: block;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.modal-find {
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  fill:rgba(0, 0, 0, 1);
  background: rgba(242, 242, 242, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background: rgba(230, 230, 230, 1);
}

.modal-close-button:active {
  fill: rgba(0, 0, 0, 0.3);
  background: rgba(230, 230, 230, 1);
}


.find-form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 577px;
  padding: 18px 77px;
  background: rgba(131, 179, 211, 1);
  border-radius: 10px;
}

.find-form-button:hover {
  background: rgba(104, 162, 202, 1);
}

.find-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(104, 162, 202, 1);
}


.field-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.field-group-people {
  align-items: center;
}

.inpute-date-text {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 4px 20px;
  color: rgba(51, 51, 51, 1);
}

.inpute-date-error {
  color: rgba(255, 87, 87, 1);
}

.modal-input-title {
  padding: 12px 0 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.input-title-people {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.find-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  width: 440px;
  height: 48px;
  margin: 0;
  padding: 12px 20px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 0;
}

.find-form-field::placeholder {
  opacity: 0.6;
}

.find-form-field:hover {
  background-color: rgba(230, 230, 230, 1);
}

.add-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 48px;
}

.input-title-people {
  margin-right: 46px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-people {
  width: 40px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.button-people-away {
border-radius: 4px 0 0 4px;
}

.button-people-add {
  border-radius: 0 4px 4px 0;
}

.input-adult,
.input-child {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  width: 31px;
  padding: 14px 2px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.tooltip {
  position: absolute;
  margin-top: 6px;
  margin-left: 55px;
  width: 26px;
  height: 26px;
}

.button-tooltip {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: rgba(131, 179, 211, 1);
  display: block;
  cursor: pointer;
}

.tooltip-text {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 16px 20px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.button-tooltip:hover + .tooltip-text,
.button-tooltip:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.button-children {
  margin-left: 42px;
}

/*filter catalog*/
.main-inner {
  margin: 0;
  padding: 0;
}

.filter {
  background-color: rgba(130, 179, 211, 1);
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 70px;
  color: rgba(255, 255, 255, 1);
}

.filter-main-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* breadcrumbs */
.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-of-type)::before {
  position: absolute;
  top: -2px;
  right: 10px;
  width: 8px;
  height: 20px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-item:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* hotel-filter */
.hotel-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding-bottom: 70px;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.hotel-filter-left {
  display: flex;
  width: 371px;
  gap: 70px;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.hotel-filter-buttom {
  display: flex;
  flex-direction: column;
}

.control-label {
  padding-left: 16px;
}

.control-input {
  line-height: 23px;
}

/* checkbox */
.control-input[type="checkbox"] {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

/* radio */
.control-input[type="radio"] {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[type="radio"]:checked {
  background-image: url("../images/radio.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* Range */
.range-wrapper-inputs {
  display: flex;
  margin-bottom: 40px;
  gap: 2px
}

.range-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 144px;
  height: 48px;
  padding: 12px 20px;
  border: none;
}

.range-input::placeholder {
  margin: 0 auto;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
  ;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: rgba(255, 255, 255, 1);
  }

.range-toggle:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.range-toggle:active {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-price {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.catalog-price-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-price-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.catalog-buttons {
  background: rgba(131, 179, 211, 1);
  padding: 8px 50px;
}

.catalog-buttons:hover {
  background: rgba(104, 162, 202, 1);
}

.catalog-buttons:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.catalog-price-reset {
  background: none;
  padding: 8px 50px;
}

.catalog-price-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

.catalog-price-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/*catalog*/
.catalog {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin-bottom: 40px;
}

.catalog-sortings {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-sorting {
  display: flex;
  width: 160px;
  gap: 8px;
}

.catalog-header-sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.catalog-header-sorting:hover,
.catalog-header-sorting:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-header-sorting svg {
  width: 16px;
  height: 14px;
  margin: 0;
}

.button-light {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-title {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  min-width: 292px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 48px;
  border-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}

/* cards */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 75px;
  gap: 20px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  border: 1px solid rgba(229, 229, 229, 1);
}

.hotel-card-link img {
  margin-bottom: 16px;
}

.hotel-title-link h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
  color:rgba(0, 0, 0, 1)
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.description-container p {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-detail {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
}

.hotel-card-detail:hover {
  background: rgba(97, 80, 72, 1);
}

.hotel-card-detail:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.hotel-card-rating p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px;
  background: rgba(242, 242, 242, 1);
  border-radius: 5px;
}

.catalog-card-button {
  padding: 0;
  padding: 8px 20px;
  background-color: rgba(130, 179, 211, 1);

}

.catalog-card-button:hover {
  background: rgba(104, 162, 202, 1);
}

.catalog-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.button-active {
  padding: 8px 18px;
   background-color: rgba(125, 181, 79, 1);
}

.button-active:hover {
  background: rgba(108, 158, 66, 1);
}

.button-active:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(125, 181, 79, 1);

}

/* pagination  */

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-item-points {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 0 12px;
}

.pagination-link:hover {
  background: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background:rgba(130, 179, 211, 1);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

/*subscribe-catalog*/

.subscribe-catalog {
  min-height: 415px;
}

.subscribe-catalog-title {
  padding-top: 95px;
  margin-bottom: 20px;
}

.subscribe-catalog-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;

}

.subscribe-field {
  width: 452px;
  min-height: 52px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  border: none;
  padding: 14px 20px;
}

.subscribe-button {
  display: block;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 54px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(130, 179, 211, 1);
  border-radius: 0 5px 5px 0;
}
