@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  color: #333333;
  background-color: #F2F2F2;
}

html {
  height: 100%;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(117, 97, 87, 1);
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

img {
  display: block;
}

/* header*/

.page-header {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 64px;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;

}

.navigation-logo {
  position: relative;
  top: -1px;
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -7px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 16px;
  text-align: center;
  color: #000000;
}

.navigation-link-active {
  text-decoration: underline;
  text-decoration-color: rgba(117, 98, 87, 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-link:hover {
  color: rgba(104, 162, 202, 1);
}

.navigation-link:focus {}

.navigation-link:active {
  color: rgba(104, 162, 202, 0.5);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-user-link {
  min-width: 44px;
  padding: 22px 12px;
}

.navigation-icon {
  fill: #000000;
}

.navigation-icon:hover {
  fill: rgba(104, 162, 202, 1);
}

.navigation-icon:focus {}

.navigation-icon:active {
  fill: rgba(104, 162, 202, 0.5);
}

.navigation-user-like {
  position: relative;
}

.like {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 19px;
  padding: 2px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-user .navigation-item:last-child {
  margin: 20px 0 0 20px;
}

.navigation-button {
  padding: 8px 34px;
  margin-left: 20px;
}

.navigation-button:hover {
  background: rgba(97, 80, 72, 1);
}

.navigation-button:focus {}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}


/*hero*/

.page-title {
  margin: 0;
  padding: 0;
}

.main-hero {
  margin-top: 2px;
  background-image: url("../images/vector.svg"), url("../images/hero-background.jpg");
  background-color: #8e6456;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-welcome {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 80px;
}

.hero-welcome img {
  margin: 0 auto;
}

/*advantages*/

.advantages-block-title {
  margin-bottom: 21px;
  padding: 69px 0;
}

.advantages-page-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 62px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  max-width: 175px;
}

.advantages-title::after {
  content: "";
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
}

.advantages-title-second::after {
  background-color: rgba(0, 0, 0, 0.3);
  }

.advantages-description {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

.advantages-item-object {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item-object-reverse {
  flex-direction: row-reverse;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding-top: 112px;
}

.advantages-item-second-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-second-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  width: 400px;
  padding: 102px 85px;
}

.advantages-img {
  margin: 0;
}

/*recommendations*/

.recommendations-page-title {
  padding-top: 64px;
  margin-bottom: 20px;
}

.recommendations-page-subtitle {
  padding-bottom: 64px;
}

.recommendations-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 385px;
}

.recommendations-item {
  width: 400px;
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.recommendations-item-housing {
  background-image: url(../images/housing.svg);
}

.recommendations-item-food {
  background-image: url(../images/food.svg);
}

.recommendations-item-souvenir {
  background-image: url(../images/souvenir.svg);
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 183px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.recommendations-description {
  margin: 0;
  padding: 0 85px 81px;
}

/*search*/

.search-title {
  padding-top: 96px;
  margin-bottom: 20px;
}

.search-subtitle {
  margin-bottom: 54px;
}

.search-link {
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  margin-bottom: 96px;
  width: 376px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

.search-link:hover {
  background: rgba(97, 80, 72, 1);
}

.search-link:focus {
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}


/*subscribe*/

.subscribe {
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-color: #8e6456;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  color: #ffffff;
}

.subscribe-title {
  padding-top: 96px;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;

}

.field {
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  border: 0;
  border-radius: 5px 0 0 5px;
  background: rgba(242, 242, 242, 1);

}

.subscribe-button {
  display: block;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 54px; /* выравние по вертикали  */
  font-weight: 700;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 0 5px 5px 0;
}

.subscribe-button:hover {
  background: rgba(104, 162, 202, 1);
}

.subscribe-button:focus {}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

input::placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/*footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.contact {
  width: 720px;
  text-align: center;
}

.contact a:hover {
  color: rgba(117, 97, 87, 1);
}

.contact a:focus {
}

.contact a:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact a {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  fill: #83B3D3;
}

.social-link:hover .svg {
  fill: #68A2CA;
}

.htmlacademy-link:hover .logo-htmlacademy {
  fill: rgba(117, 97, 87, 1);
}

.htmlacademy-link:focus .logo-htmlacademy {}

.htmlacademy-link:active .logo-htmlacademy {
  fill: rgba(117, 97, 87, 0.3);
}

/*filter catalog*/

.main-inner {
  margin: 0;
  padding: 0;
}

.filter {
  background-image: url("../images/filter.jpg");
  background-color: #8e6456;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0 70px;
  color: #ffffff;
}

.hotel-filter {
  display: flex;
   justify-content: space-between;
  width: 1060px;
  padding-bottom: 70px;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
}

.filter-title {
  margin-bottom: 32px;
}

.hotel-filter-left {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.hotel-filter-group {
  width: 150px;
  border: 0;
}

.hotel-filter-1 {}

.hotel-filter-buttom {
  display: flex;
  flex-direction: column;
}

.filter-main-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
}

/* .control-input[Type="checkbox"] {
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[Type="checkbox"]:checked {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center top 5px;
  background-size: 13px 10px;
} */

.catalog-price {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.catalog-price-group {
  display: flex;
  flex-direction: column;
}

.catalog-price-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.catalog-buttons {
  background: #82B3D3;
  padding: 8px 50px;
}

.catalog-buttons:hover {
  background: rgba(104, 162, 202, 1);
}

.catalog-buttons:focus {}

.catalog-buttons:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.catalog-price-reset {
  background: none;
  padding: 8px 50px;
}

.catalog-price-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

.catalog-price-reset:focus {}

.catalog-price-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/*catalog*/

.catalog {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin-bottom: 40px;
}

.catalog-sorting {
  display: flex;
  gap: 8px;
}

.catalog-header-sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-header-sorting:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-header-sorting:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.catalog-header-sorting:active {
  border: 2px solid rgba(0, 0, 0, 1);
}



.catalog-header-sorting svg {
  width: 16px;
  height: 14px;
  margin: 0;
}

.button-light {
  border: 2px solid #000000;
}

.catalog-title {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 292px;
  height: 48px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid rgba(104, 162, 202, 1);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  gap: 20px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.hotel-card-link img {
  margin-bottom: 16px;
}

.hotel-title-link h3 {
  margin: 0;
  margin-bottom: 16px;
  color:#000000;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.description-container p {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-detail {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
}

.hotel-card-detail:hover {
  background: rgba(97, 80, 72, 1);
}

.hotel-card-detail:focus {}

.hotel-card-detail:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(117, 97, 87, 1);
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.hotel-card-rating p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px;
  background: #F2F2F2;
  border-radius: 5px;
}

.catalog-card-button {
  padding: 0;
  padding: 8px 16px;
  background-color: #82B3D3;
}

.catalog-card-button:hover {
  background: rgba(104, 162, 202, 1);
}

.catalog-card-button:focus {}

.catalog-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(130, 179, 211, 1);
}

.button-active {
   background-color: rgba(125, 181, 79, 1);
}

.button-active:hover {
  background: rgba(108, 158, 66, 1);
}

.button-active:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(125, 181, 79, 1);

}

/* pagination  */

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  margin-bottom: 60px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background: #82B3D3;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 12px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

/*subscribe-catalog*/

.subscribe-catalog {
  min-height: 415px;
}

.subscribe-catalog-title {
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscribe-catalog-subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;

}

.field {
  width: 452px;
  min-height: 52px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.subscribe-button {
  display: block;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 54px; /* выравние по вертикали  */
  font-weight: 700;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 0 5px 5px 0;
}
